a {text-decoration: none;color: #fff;font-weight: normal!important;}
a:hover{color: aqua;}
.circle{
	border-radius: 50%;
	margin: 0.30em;
	font-size: 1.5em;
	}
	
.fa-twitter{
	background: #4099FF;
	color: #FFFFFF;
    padding: 0.3em 0.5em;
	}

.fa-google-plus{
  color: #FFFFFF;
  background: #57A2DB;
  padding: 0.3em 0.5em;
  }  

.fa-dribbble{
	color: #57A2DB;
	}

.fa-pinterest{
	color: #57A2DB;
	}

.fa-facebook{
	background: #57A2DB;
	color: #FFFFFF;
    padding: 0.3em 0.5em;
	}
    .fa-instagram{
        background: #57A2DB;
        color: #FFFFFF;
        padding: 0.3em 0.4em;
        }
.fa-youtube{
	background: #57A2DB;
	color: #FFFFFF;
    padding: 0.3em 0.4em;
  
	}
    .fa-linkedin {
        background: #57A2DB;
        color: #FFFFFF;
        padding: 0.3em 0.4em;
      
        }
        .fa-whatsapp {
            background: #57A2DB;
            color: #FFFFFF;
            padding: 0.3em 0.4em;
          
            }