<footer style="background-color: #232323;margin-top: 100px;" >  
    <br>     
    <div class="container" >
        <!-- part1 -->
        <div class="row">
            <div class="col-md-3 col-lg-3 col-12 mb-2" >
                <div class="mb-2" style="font-weight: bold;"><h1>{{ 'Aqars-for-Rent' | translate}}</h1></div>
                <div>
                    <a href="/RENT/10/Apartment-for-Rent" title="{{ 'Apartment-for-Rent' | translate}} {{arabic}}" >
                    {{ 'Apartment-for-Rent' | translate}} 
                    <span *ngIf="settings.languageto == 'ar'" > {{Language?.namearabic}}</span>
                    <span *ngIf="settings.languageto == 'en'"> {{Language?.nameenglish}}</span>
                    <span *ngIf="settings.languageto == 'tr'"> {{Language?.nameturkish}}</span>
                    <span *ngIf="settings.languageto == 'fr'"> {{Language?.namefrench}}</span>
                  
                    </a>
                </div>
                <div>
                    <a href="/RENT/6/Villa-for-Rent"  title="{{ 'Villa-or-Rent' | translate}} {{arabic}}">
                        {{ 'Villa-or-Rent' | translate}}
                        <span *ngIf="settings.languageto == 'ar'"> {{Language?.namearabic}}</span>
                        <span *ngIf="settings.languageto == 'en'"> {{Language?.nameenglish}}</span>
                        <span *ngIf="settings.languageto == 'tr'"> {{Language?.nameturkish}}</span>
                        <span *ngIf="settings.languageto == 'fr'"> {{Language?.namefrench}}</span>
                    </a>
                </div>

                <div >
                    <a href="/RENT/24/Offices-for-Rent" title="{{ 'Offices-for-Rent' | translate}}  {{arabic}}">
                        {{ 'Offices-for-Rent' | translate}} 
                        <span *ngIf="settings.languageto == 'ar'"> {{Language?.namearabic}}</span>
                        <span *ngIf="settings.languageto == 'en'"> {{Language?.nameenglish}}</span>
                        <span *ngIf="settings.languageto == 'tr'"> {{Language?.nameturkish}}</span>
                        <span *ngIf="settings.languageto == 'fr'"> {{Language?.namefrench}}</span>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-lg-3 col-12 mb-2" >
                <div style="font-weight: bold;" class="mb-2"> <h1>{{ 'Aqars-for-Sale' | translate}}</h1></div>
                <div>
                    <a href="/SALE/10/Apartment-for-Sale" title="{{ 'Apartment-for-Sale' | translate}} {{arabic}}">
                        {{ 'Apartment-for-Sale' | translate}} 
                        <span *ngIf="settings.languageto == 'ar'"> {{Language?.namearabic}}</span>
                        <span *ngIf="settings.languageto == 'en'"> {{Language?.nameenglish}}</span>
                        <span *ngIf="settings.languageto == 'tr'"> {{Language?.nameturkish}}</span>
                        <span *ngIf="settings.languageto == 'fr'"> {{Language?.namefrench}}</span>
                    </a>
                </div>
                <div>
                    <a href="/SALE/6/Villa-for-Sale"  title="{{ 'Villa-for-Sale' | translate}} {{arabic}}">
                        {{ 'Villa-for-Sale' | translate}} 
                        <span *ngIf="settings.languageto == 'ar'"> {{Language?.namearabic}}</span>
                        <span *ngIf="settings.languageto == 'en'"> {{Language?.nameenglish}}</span>
                        <span *ngIf="settings.languageto == 'tr'"> {{Language?.nameturkish}}</span>
                        <span *ngIf="settings.languageto == 'fr'"> {{Language?.namefrench}}</span>
                    </a>
                </div>
                <div>
                    <a href="/SALE/24/Offices-for-Sale" title="{{ 'Offices-for-Sale' | translate}} {{arabic}}">
                        {{ 'Offices-for-Sale' | translate}} 
                        <span *ngIf="settings.languageto == 'ar'"> {{Language?.namearabic}}</span>
                        <span *ngIf="settings.languageto == 'en'"> {{Language?.nameenglish}}</span>
                        <span *ngIf="settings.languageto == 'tr'"> {{Language?.nameturkish}}</span>
                        <span *ngIf="settings.languageto == 'fr'"> {{Language?.namefrench}}</span>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-lg-3 col-12 mb-2">
                <div style="font-weight: bold;" class="mb-2"><h1>{{ 'Most-popular-Searched' | translate}}</h1></div>
                <div>
                    <a href="/RENT/10/Apartment-for-Rent" title="{{ 'Apartment-for-Rent' | translate}} {{arabic}}">
                    {{ 'Apartment-for-Rent' | translate}} 
                    <span *ngIf="settings.languageto == 'ar'"> {{Language?.namearabic}}</span>
                    <span *ngIf="settings.languageto == 'en'"> {{Language?.nameenglish}}</span>
                    <span *ngIf="settings.languageto == 'tr'"> {{Language?.nameturkish}}</span>
                    <span *ngIf="settings.languageto == 'fr'"> {{Language?.namefrench}}</span>
                  
                    </a>
                </div>
                
                <div >
                    <a href="/RENT/6/Villa-for-Rent"  title="{{ 'Villa-or-Rent' | translate}} {{arabic}}">
                        {{ 'Villa-or-Rent' | translate}}
                        <span *ngIf="settings.languageto == 'ar'"> {{Language?.namearabic}}</span>
                        <span *ngIf="settings.languageto == 'en'"> {{Language?.nameenglish}}</span>
                        <span *ngIf="settings.languageto == 'tr'"> {{Language?.nameturkish}}</span>
                        <span *ngIf="settings.languageto == 'fr'"> {{Language?.namefrench}}</span>
                    </a>
                </div>

                <div >
                    <a href="/RENT/24/Offices-for-Rent" title="{{ 'Offices-for-Rent' | translate}}  {{arabic}}">
                        {{ 'Offices-for-Rent' | translate}} 
                        <span *ngIf="settings.languageto == 'ar'"> {{Language?.namearabic}}</span>
                        <span *ngIf="settings.languageto == 'en'"> {{Language?.nameenglish}}</span>
                        <span *ngIf="settings.languageto == 'tr'"> {{Language?.nameturkish}}</span>
                        <span *ngIf="settings.languageto == 'fr'"> {{Language?.namefrench}}</span>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-12" style="text-align: center;">
                <div style="font-weight: bold;" class="mb-3"><h1>Download our App</h1></div>
   
                <div> <a target="_blank" href="https://apps.apple.com/us/app/%D8%B9%D9%82%D8%A7%D8%B1%D9%83%D9%88-aqarco/id1612849831">
                    <img src="/assets/images/app-store-black.svg">
                </a></div>
                <div><a target="_blank" href="https://play.google.com/store/apps/details?id=qa.aqarco.app">
                      
                    <img src="/assets/images/google-play-black.svg"></a></div>
            </div>
        </div>
        <!-- part1 end -->
        <br>
        <!-- part2 -->
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="height:2px;background-color: #fff;">&nbsp;</div>
            <div class="col-md-2"></div>
        </div>
        <!-- part2 end -->
        <br>
        <!-- part2 -->
        <div class="row">
            <div class="col-md-3 col-lg-3 col-12"></div>
            <div class="col-md-6 col-lg-3 col-12" style="text-align: center;margin: 0 auto;">
                <div class="app-btn animated">
                    <div class="col-12 d-flex justify-content-center " >
                        <div class="d-flex flex-row  ">
                            <div class="p-1"><a href="https://www.facebook.com/aqarco.global" title="aqarcoo" alt='aqarcoo'><i class="fa fa-facebook circle" aria-hidden="true"></i></a></div>
                         <!--   <div class="p-1"><a href="{{$setting->facebook}}"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>-->
                            <div class="p-1"><a href="https://www.instagram.com/aqarcoglobal/" title="aqarcoo" alt='aqarcoo'><i class="fa fa-instagram circle" aria-hidden="true"></i></a></div>
                            <div class="p-1"><a href="https://www.youtube.com/@aqarco7819" title="aqarcoo" alt='aqarcoo'><i class="fa fa-youtube circle" aria-hidden="true"></i></a></div>
                            <div class="p-1"><a href="https://www.linkedin.com/in/aqarcoo-real-estate" title="aqarcoo" alt='aqarcoo'><i class="fa fa-linkedin circle" aria-hidden="true"></i></a></div>
                            <div class="p-1"> <a href="https://api.whatsapp.com/send?phone=+974 7755 0334" title="aqarcoo" alt='aqarcoo'  target="_blank"><i class="fa fa-whatsapp circle" aria-hidden="true"></i></a></div>
                            <div class="p-1"> <a href="https://www.tiktok.com/@aqarco_global?_t=8cbiARLqOO6&_r=1" title="aqarcoo" alt='aqarcoo'  target="_blank" >
                                <img style="width: 45px;" class="circle" src="/assets/images/tik.svg">

                            </a></div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-12"></div>
        </div>
        <!-- part2 end -->
        <br>
    </div>      
                      <!-- part2 -->
                      <div class="row pt-2" style="background-color: #2E3971 ;width: 100%; margin:0 auto;">
                        <div class="col-md-4 col-lg-4 col-12" style="text-align: center;">  <p ngClass.xs="mt-1">Copyright © 2023 All Rights Reserved aqarco</p></div>
                        <div class="col-md-4 col-lg-4 col-12" ></div>
                        <div class="col-md-4 col-lg-4 col-12" style="text-align: center;">
                        <a  routerLink="/terms-conditions" style="text-decoration: none;color:#fff"> {{ 'Terms & Conditions' | translate}}</a>
                        <a  routerLink="/privacy-polic" style="text-decoration: none;color:#fff"> {{ 'privacy-policy' | translate}}</a>
                        </div>
                    </div>
                    <!-- part2 end -->          
</footer>