<!-- <div class="px-0" >
    <div class="theme-container"> 

        <div class="row get-in-touch bg-primary" ngClass.lt-md="mt-3" style="width: 100%;">
            <div class="col-md-6 col-lg-6 col-sm-12 col-ms-12">
                <img src="assets/images/others/operator.png" alt="operator" fxShow="false" fxShow.gt-xs >
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-ms-12">
                <div fxLayout="row wrap" fxLayoutAlign="space-between center"  ngClass.xs="p-0" style="text-align:center;margin: 0 auto;"> 
                    <div fxLayout="column" class="p-3">
                        <h2>{{"LOOKING TO SELL YOUR HOME?" | translate}}</h2>
                        <p class="mb-0">{{"Connect with us" | translate}}</p>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" >
                        <mat-icon class="mat-icon-xlg mx-2">call</mat-icon>
                        <div fxLayout="column">               
                            <p class="mb-0">{{"CALL US NOW" | translate}}</p>
                            <h2 class="ws-nowrap" style="direction: ltr;"> <a href="tel:0097440020040" style="color: #fff; text-decoration: none; direction: ltr;">+974 40020040</a> </h2>
                        </div>
                    </div>
    
                </div> 
            </div>



        </div>

    </div>
</div> -->