.get-in-touch{
    position: relative;
    margin-top: 140px;
    img{
        max-width: 400px; 
        position: absolute; 
        bottom: 0;
    }
    .content{
        padding-inline-start: 400px !important;
    }
   
}