<title *ngIf="settings.languageto == 'en'" >aqarco for real estate e-marketing</title>
<title  *ngIf="settings.languageto == 'ar'"  > عقاركو تسويق الكتروني للعقارات</title>
<title  *ngIf="settings.languageto == 'tr'"  >aqarco emlak e-pazarlama için</title>
<title  *ngIf="settings.languageto == 'fr'"  >aqarco for real estate e-marketing</title>
<app-header-image [backgroundImage]="'assets/images/others/about.jpg'" 
                  [bgImageAnimate]="false" 
                  [contentOffsetToTop]="true"                
                  [title]="'About Us'"
                  [desc]="'We help you for find your house key'">
</app-header-image>


<div class="theme-container">
    
    <mat-card class="main-content-header">
            <!-- english -->    
            <div *ngIf=" settings.languageto == 'en' or  settings.languageto == 'tr' or  settings.languageto == 'fr'"  class="section pt-2">
                <div class="px-3">
                    <div class="theme-container">
    
    
                        <h3 class="px-3">  Who Are We?  </h3>
                        <div fxLayout="row wrap">
                            <div fxFlex="100" fxFlex.gt-sm="100" class="p-3"> 
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    An electronic platform for real estate marketing, in a modern and innovative style, and a contemporary application on smart phones with ease to use, as we work to acquire the largest possible segment in the local market, and reach real estate leadership by providing the highest standards of transparency and reliability using technology through our new real estate platform.
                                </div>                            
                                <p class="mt-2">.</p>
                            </div>
                        </div>
                        <h3 class="px-3">Executive Summary:</h3>
                        <div fxLayout="row wrap">
                            <div fxFlex="100" fxFlex.gt-sm="100" class="p-3"> 
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    The "Aqarco" team is working on changing the concept of the process of searching for the right property by integrating technology into the real estate marketing process, through the all-new "Aqarco" e-marketing platform, which is characterized by ease of use of the platform with its properties, quick access to all of them, and in proportion to the needs of each customer.
                                    "Aqarco" launches from the State of Qatar to explore the future through its new platform, and its new vision that qualifies it for rapid spread, and being at the top of the real estate marketing pyramid in the global cyberspace in general, and the local market in particular, which achieves the goal of our project, which is to satisfy customers by providing professional standards High-level, real estate services in line with the requirements of the modern era.
                                    
                                </div>                            
                                <p class="mt-2">.</p>
                            </div>
                        </div>
                        <h3 class="px-3"> Aqarco's Competitive Advantage:</h3>
                        <div fxLayout="row wrap">
                            <div fxFlex="100" fxFlex.gt-sm="100" class="p-3"> 
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    The "Aqarco" platform for real estate e-marketing is characterized by the slogan "without commission", as is prevalent in the current real estate transactions, which is a new concept in the local market, reflecting the team's interest in customer needs and satisfaction, and promoting growth trends in the real estate market, as well as covering all sites Real estate in the country, and this is what distinguishes the “Aqarco” platform and application from others.
                                    Another distinguishing mark of the platform is its acquisition of a large number of real estate developers in Qatar, real estate offices and brokers, as well as individual owners, who will be among the e-marketing options for the first time within a 100% Qatari website, which will allow customers a large number of properties, whether for sale or buying or renting – all options.
                                    In order to achieve this comprehensiveness that is unique to the “Aqarco” platform and application, we have attracted more than 60 experts in the field of real estate, to be the constellation of the company’s employees within the highest levels of professionalism and technological skills, and the goal of excellence in providing our real estate services, and its completeness in the market, and for the convenience of customers by working to complete all operations preparing the advertisement for publication, including photography, editing and promotion.
                                    
                                </div>                            
                                <p class="mt-2">.</p>
                            </div>
                        </div>
                        <h3 class="px-3"> Our Message:</h3>
                        <div fxLayout="row wrap">
                            <div fxFlex="100" fxFlex.gt-sm="100" class="p-3"> 
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    Providing real estate marketing services with innovative ideas, according to the latest standards of modern technology in the world.
                                </div>                            
                                <p class="mt-2">.</p>
                            </div>
                        </div>
                        <h3 class="px-3">Our vision:</h3>
                        <div fxLayout="row wrap">
                            <div fxFlex="100" fxFlex.gt-sm="100" class="p-3"> 
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    Spreading and positioning at the top of the pyramid in the modern real estate marketing arena.
                                </div>                            
                                <p class="mt-2">.</p>
                            </div>
                        </div>
                        <h3 class="px-3">Value:</h3>
                        <div fxLayout="row wrap">
                            <div fxFlex="100" fxFlex.gt-sm="100" class="p-3"> 
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    Trust. Credibility. Excellence and creativity. Quality and professionalism at work.
                                </div>                            
                                <p class="mt-2">.</p>
                            </div>
                        </div>
                        <h3 class="px-3">Our Goals:</h3>
                        <div fxLayout="row wrap">
                            <div fxFlex="100" fxFlex.gt-sm="100" class="p-3"> 
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    -The ease and speed of use of this platform, which distinguishes it from others.
                                </div>    
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    -Maintaining the continuity of leadership and innovation in the e-real estate marketing sector.
                                </div>    
  
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    -Expand the broad base of the company's target customers.
                                </div>    
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    - Achieving continuous and increasing growth in the number of advertisements by real estate owners of all kinds.
                                </div>     
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    -Providing a wide range of users of the Aqarco platform to choose the most appropriate property for their needs.
                                </div>    
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    - Satisfying the customer and providing the various means available for his convenience by providing all service and technical means in line with the relevant requirements in this framework. 
                                </div>   
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    -Keeping abreast of the latest advanced technologies.
                                </div>    
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    - Changing the concept of real estate marketing through a new concept based on (ease of use and without commission).
                                    
                                </div>  
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    - Opening many branches of the company in most Arab countries with a booming real estate nature in the near term.
                                    
                                </div>                 
                                <p class="mt-2">.</p>
                            </div>
                        </div>
                        <h3 class="px-3">Our Clients:</h3>
                        <div fxLayout="row wrap">
                            <div fxFlex="100" fxFlex.gt-sm="100" class="p-3"> 
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    -Real estate brokerage companies of all levels.

                                </div>   
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    -Real estate investment and development companies.
                                </div>     
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    -Real estate owners.
                                </div>                      
                                <p class="mt-2">.</p>
                            </div>
                        </div>
                
                        
                    </div>
                </div>   
            </div> 
        <!-- english -->   
    <!-- arabic -->    
        <div *ngIf="settings.languageto == 'ar'"  class="section pt-2">
            <div class="px-3">
                <div class="theme-container">


                    <h3 class="px-3">من نحن ؟ </h3>
                    <div fxLayout="row wrap">
                        <div fxFlex="100" fxFlex.gt-sm="100" class="p-3"> 
                            <div fxLayout="row" fxLayoutAlign="start center">
                                منصة إلكترونية للتسويق العقاري، بأسلوب حديث ومبتكر، وتطبيق عصري على الهواتف الذكية بسهولة ويسر، حيث نعمل للاستحواذ على أكبر شريحة ممكنة في السوق المحلي، والوصول إلى الريادة العقارية عبر تقديم أعلى معايير الشفافية والموثوقية باستخدام التكنولوجيا من خلال منصتنا العقارية الجديدة.
                            </div>                            
                            <p class="mt-2">.</p>
                        </div>
                    </div>
                    <h3 class="px-3"> الموجز التنفيذي:</h3>
                    <div fxLayout="row wrap">
                        <div fxFlex="100" fxFlex.gt-sm="100" class="p-3"> 
                            <div fxLayout="row" fxLayoutAlign="start center">
                                يعمل فريق "عقاركو" على تغيير مفهوم عملية البحث عن العقار المناسب من خلال دمج التكنولوجيا بعملية التسويق العقاري، وذلك عبر منصة "عقاركو" للتسويق الإلكتروني الجديدة كلياً، والتي تمتاز بسهولة استخدام المنصة بما تحويه من عقارات، وسرعة  الوصول إلى كل منها، وذلك بما يتناسب مع احتياجات كل عميل.
                                "عقاركو" تنطلق من دولة قطر لتستكشف المستقبل عبر منصتها الجديدة، ورؤيتها الجديدة التي تؤهلها للانتشار السريع، والتربع على قمة الهرم التسويقي العقاري في الفضاء الإلكتروني العالمي عامةً، والسوق المحلي خاصةً، ما يحقق الهدف من مشروعنا، وهو إرضاء العملاء من خلال تقديم مقاييس مهنية عالية المستوى، وخدمات عقارية متماشية مع متطلبات العصر الحديث.
                                
                            </div>                            
                            <p class="mt-2">.</p>
                        </div>
                    </div>
                    <h3 class="px-3"> الميزة التنافسية لعقاركو:</h3>
                    <div fxLayout="row wrap">
                        <div fxFlex="100" fxFlex.gt-sm="100" class="p-3"> 
                            <div fxLayout="row" fxLayoutAlign="start center">
                                تمتاز منصة "عقاركو" للتسويق الإلكتروني العقاري، بشعار "بدون عمولة"، كما هو سائد في التعاملات العقارية الحالية، وهو مفهوم جديد في السوق المحلية، يعكس اهتمام فريق العمل باحتياجات العملاء ورضاهم، وتعزيز اتجاهات النمو في السوق العقارية، فضلاً عن تغطية جميع المواقع العقارية في الدولة، وهذا ما تنفرد به منصة وتطبيق "عقاركو" عن غيرها.
                                أيضاً من العلامات الفارقة للمنصة استحواذها على عدد كبير من مطوّري العقارات في قطر، ومكاتب ووسطاء العقار، إلى جانب الملاك الأفراد، الذين سيكونون ضمن خيارات التسويق الإلكتروني لأول مرة ضمن موقع إلكتروني قطري 100%، الأمر الذي سيتيج أمام العملاء كم كبير من العقارات سواء للبيع أو الشراء أو الإيجار، وبمختلف صنوف العقار من سكني ، تجاري ، صناعي.
                                ولتحقيق هذه الشمولية التي تنفرد بها منصة وتطبيق "عقاركو" استقطبنا أكثر من 60 خبيراً في مجال العقارات، ليكونوا كوكبة موظفي الشركة ضمن أعلى المستويات المهنية والمهارات التكنولوجية، والهدف التميّز في تقديم خدماتنا العقارية، وكماليتها في السوق، ولراحة العملاء عبر العمل على إنجاز كافة عمليات تجهيز الإعلان للنشر، بما يتضمنه من تصوير، وتحرير وترويج.
                                
                            </div>                            
                            <p class="mt-2">.</p>
                        </div>
                    </div>
                    <h3 class="px-3"> رسالتنا:</h3>
                    <div fxLayout="row wrap">
                        <div fxFlex="100" fxFlex.gt-sm="100" class="p-3"> 
                            <div fxLayout="row" fxLayoutAlign="start center">
                                تقديم خدمات تسويقية عقارية بأفكار مبتكرة، وفقاً لأحدث معايير التكنولوجيا الحديثة على مستوى العالم.
                            </div>                            
                            <p class="mt-2">.</p>
                        </div>
                    </div>
                    <h3 class="px-3">رؤيتنا:</h3>
                    <div fxLayout="row wrap">
                        <div fxFlex="100" fxFlex.gt-sm="100" class="p-3"> 
                            <div fxLayout="row" fxLayoutAlign="start center">
                                العمل على الانتشار والتمركز على قمة الهرم في ساحة الفضاء الإلكتروني للتسويق العقاري الحديث.
                            </div>                            
                            <p class="mt-2">.</p>
                        </div>
                    </div>
                    <h3 class="px-3">قيمنا:</h3>
                    <div fxLayout="row wrap">
                        <div fxFlex="100" fxFlex.gt-sm="100" class="p-3"> 
                            <div fxLayout="row" fxLayoutAlign="start center">
                                الثقة. المصداقية. التميز والإبداع. الجودة والمهنية في العمل.
                            </div>                            
                            <p class="mt-2">.</p>
                        </div>
                    </div>
                    <h3 class="px-3">أهدافنا:</h3>
                    <div fxLayout="row wrap">
                        <div fxFlex="100" fxFlex.gt-sm="100" class="p-3"> 
                            <div fxLayout="row" fxLayoutAlign="start center">
                                - سهولة وسرعة الاستخدام لهذه المنصة وهو ما سوف يميزها عن الاخرين.
                            </div>    
                            <div fxLayout="row" fxLayoutAlign="start center">
                                -الحفاظ على استمرارية الريادة والابتكار في قطاع التسويق العقاري الإلكتروني.
                            </div>    
                            <div fxLayout="row" fxLayoutAlign="start center">
                                - توسيع القاعدة العريضة للعملاء المستهدفين للشركة.
                            </div>   
                            <div fxLayout="row" fxLayoutAlign="start center">
                                - تحقيق النمو المستمر والمتزايد في أعداد الإعلانات من قبل أصحاب العقارات بكافة انواعها.
                            </div>    
                            <div fxLayout="row" fxLayoutAlign="start center">
                                - توفير شريحة واسعة النطاق لمستخدمي منصة عقاركو لاختيار العقار الأنسب والملائم لاحتياجاتهم. 
                            </div>     
                            <div fxLayout="row" fxLayoutAlign="start center">
                                - إرضاء العميل وتوفير مختلف الوسائل المتاحة لراحته من خلال تقديم كافة السبل الخدماتية والتقنية المتماشية مع المتطلبات المعنية في هذا الإطار.
                            </div>    
                            <div fxLayout="row" fxLayoutAlign="start center">
                                - مواكبة أحدث وسائل التكنولوجيا المتطورة. 
                            </div>   
                            <div fxLayout="row" fxLayoutAlign="start center">
                                - تغيير مفهوم التسويق العقاري من خلال مفهوم جديد يعتمد على (سهولة الاستخدام وبدون عمولة).
                            </div>    
                            <div fxLayout="row" fxLayoutAlign="start center">
                                - افتتاح العديد من الفروع للشركة في معظم الدول العربية ذات الطابع العقاري المزدهر على المدى القريب.
                                
                            </div>                 
                            <p class="mt-2">.</p>
                        </div>
                    </div>
                    <h3 class="px-3">عملاءنا:</h3>
                    <div fxLayout="row wrap">
                        <div fxFlex="100" fxFlex.gt-sm="100" class="p-3"> 
                            <div fxLayout="row" fxLayoutAlign="start center">
                                -شركات الوساطة العقارية بكافة مستوياتها.
                            </div>   
                            <div fxLayout="row" fxLayoutAlign="start center">
                                - شركات الاستثمار والتطوير العقاري.
                            </div>     
                            <div fxLayout="row" fxLayoutAlign="start center">
                                - ملاك العقارات. 
                            </div>                      
                            <p class="mt-2">.</p>
                        </div>
                    </div>
            
                    
                </div>
            </div>   
        </div> 
    <!-- arabic -->    
    
    </mat-card> 
 
</div>

<app-mission></app-mission>

<app-our-services></app-our-services>
<!-- 
<app-testimonials></app-testimonials>  

<app-our-agents></app-our-agents>
     
<app-clients></app-clients>
--> 
<app-get-in-touch></app-get-in-touch>