<title >AQARCOO for real estate e-marketing</title>

<div class="p-3">
  <div class="theme-container">

      <div class="my-3">
        <div fxLayout="column" fxLayoutAlign="center center" class="text-center">  
          <h1 class="uppercase"> {{'privacy-policy' | translate}}</h1>             
      
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" class="my-3">
          <mat-card class="p-5">
              <div *ngIf=" settings.languageto == 'en' or  settings.languageto == 'tr' or  settings.languageto == 'fr'" class="elementor-widget-container">
             <p>We at Aqarco respect your privacy and are committed to protecting your personal information. This Privacy Policy explains how we collect, use, and share your personal information when you use our services. By using our services, you agree to the collection and use of your personal information as described in this Privacy Policy. </p><p> 
                  <P>Information we collect</P>
                <P>When you use our services, we may collect certain information about you, including:</P>

                <P>Personal information, such as your name, email address, and phone number, which you provide to us when you register or use our services.</P>
                
                <P>Property information, such as your property address, description, and images, which you provide to us when you list your property for sale or rent.</P>
                
                <P>How we use your information</P>
                <P>We may use your information for the following purposes:</P>
           
                <P>To provide our services to you, including property listing, property management, and rental services.</P>

                <P>To personalize your experience and improve our services.</P>
                <P>To communicate with you about your advertisement  and our services.</P>
                <P>To comply with legal obligations and enforce our policies.</P>
                <P>  How we share your information</P>
                <P> We may share your information with the following parties:</P>
                
                
                <P>Service providers, such  advertising partners, who help us provide our services.</P>
                <P> Third parties, such as potential buyers, renters, or sellers of properties, whom we may contact on your behalf to facilitate a transaction.</P>
                    <P>  Legal authorities or other third parties, as required by law or to protect our rights or the rights of others.</P>
                        <P>  Security</P>
                            <P> We take reasonable measures to protect your personal information from unauthorized access or disclosure.. </P>      
                            
                            <P>Changes to this Privacy Policy</P> 
                            <P>We may update this Privacy Policy from time to time to reflect changes in our business practices or legal requirements. We will notify you of any material changes by posting the updated Privacy Policy on our website and may notify you by email or other means.</P> 
              </div>
              <div *ngIf=" settings.languageto == 'ar' " class="elementor-widget-container">
                <p>نحن في عقاركو نحترم خصوصيتك وملتزمون بحماية معلوماتك الشخصية. تشرح سياسة الخصوصية هذه كيفية جمعنا واستخدامنا ومشاركتنا لمعلوماتك الشخصية عند استخدام خدماتنا</p><p> 
                 <P>من خلال استخدام خدماتنا، فإنك توافق على جمع واستخدام معلوماتك الشخصية كما هو موضح في سياسة الخصوصية هذه.</P>
                 
                  <P>المعلومات التي نجمعها</P>
                <P>عند استخدام خدماتنا، قد نجمع بعض المعلومات عنك، بما في ذلك:</P>

                <P>المعلومات الشخصية، مثل اسمك وعنوان بريدك الإلكتروني ورقم الهاتف الذي تقدمه لنا عند التسجيل أو استخدام خدماتنا.</P>
                
                <P>معلومات العقار مثل عنوان العقار  ووصفه والصور التي تقدمها لنا عند إدراج ممتلكاتك للبيع أو الإيجار.
                  كيفية استخدام معلوماتك</P>
                
                <P>قد نستخدم معلوماتك للأغراض التالية:</P>
                <P>توفير خدماتنا لك، بما في ذلك إدراج الممتلكات وإدارة الممتلكات وخدمات الإيجار.</P>
           
                <P>لتخصيص تجربتك وتحسين خدماتنا.</P>

                <P>للتواصل معك بشأن إعلانك وخدماتنا.</P>
                <P>للامتثال للالتزامات القانونية وفرض سياساتنا.</P>
                <P>كيف نشارك معلوماتك</P>
                <P>  قد نشارك معلوماتك مع الأطراف التالية:</P>
                <P> مزودي الخدمة، مثل شركاء الإعلانات، الذين يساعدوننا في توفير خدماتنا.</P>
                
                
                <P>الأطراف الثالثة، مثل المشترين والمستأجرين والبائعين المحتملين للعقارات، الذين قد نتصل بهم نيابة عنك لتيسير المعاملة.</P>
                <P> السلطات القانونية أو الأطراف الثالثة الأخرى، حسب الاقتضاء القانوني أو لحماية حقوقنا أو حقوق الآخرين.
                </P>
               
                        <P>  الأمان</P>
                            <P>تغييرات على سياسة الخصوصية هذه </P>      
                            
                            <P>قد نقوم بتحديث سياسة الخصوصية هذه من حين لآخر لمواكبة التغييرات في ممارسات أعمالنا أو المتطلبات القانونية. </P> 
                            <P> سنخطرك بأي تغييرات مادية من خلال نشر سياسة الخصوصية المحدثة على موقعنا على الويب، وقد يتم إعلامك عنها.</P> 

                </div>
            <p class="text-right">© AQARCOO </p>

          </mat-card>
        </div>
          
      </div>

  </div>
</div>