<!-- <style>
    body {
      margin: 20px;
      text-align: center;
    }
  
    h1 {
      color: green;
    }
  
    img {
   
      margin: 5px;
    }
  
    p {
      text-align: justify;
      font-size: 25px;
    }
  </style> -->
<div class="container containt">
    
       <div class="mb-5 row sochial">
        <div class="col-md-6">   <h1 style="font-size: 26px;"><span> <span>&nbsp;</span></span>{{artical.title1}}</h1> </div>
        <div class="col-md-6"> <a href="https://api.whatsapp.com/send?&text={{newURL}}/artical/{{artical.id}}/{{artical.title1}}"  target="_blank"><i class="fa fa-share-alt" aria-hidden="true"></i></a></div>
       </div>
       
       <div  class="row  p-2" ngClass.xs="text-center">
       <div class="col-md-12"  >
            <img src="{{artical.img1}}" alt="" style="width:100% ">
        </div>
       </div>

       <div class="clearfix">
       <pre style="text-align: justify;white-space: pre-wrap;font-size: 20px;"> {{artical.text1}}</pre>
        <div class="square mt-5">
            <div>
                <img src="{{artical.img2}}" alt="" style="width:170px;height:170px;margin-left:15px;  ">
            </div>
            <pre style="text-align: justify;white-space: pre-wrap;font-size: 20px;">
                {{artical.text2}}
            </pre>
          
          </div>
          <div class="square mt-5">
            <div>
                <img src="{{artical.img3}}" alt="" style="width:170px;height:170px;margin-left:15px;   ">
            </div>
            <pre style="text-align: justify;white-space: pre-wrap;font-size: 20px;">
                {{artical.text3}}
            </pre>
          
          </div>
        </div>
       

</div>
<!------   2         -->





   


