
<title *ngIf="settings.languageto == 'en'" >aqarco for real estate e-marketing</title>
<title  *ngIf="settings.languageto == 'ar'"  > عقاركو تسويق الكتروني للعقارات</title>
<title  *ngIf="settings.languageto == 'tr'"  >aqarco emlak e-pazarlama için</title>
<title  *ngIf="settings.languageto == 'fr'"  >aqarco for real estate e-marketing</title>
<app-header-image *ngIf="settings.header == 'image'" 
                [backgroundImage]="'assets/images/others/homepage.jpg'"
                [bgImageAnimate]="true"
                [contentOffsetToTop]="true"
                [title]="'Find your house key'"
                [desc]="'Leading Real Estate Company'"
                [isHomePage]="true"
                [fullscreen]="false">
</app-header-image> 

<app-header-carousel *ngIf="settings.header == 'carousel'" 
                    [slides]="slides" 
                    [contentOffsetToTop]="true"
                    [fullscreen]="false">
</app-header-carousel>

<app-header-map *ngIf="settings.header == 'map'" 
                [locations]="locations" 
                [contentOffsetToTop]="true"
                [fullscreen]="false">
</app-header-map>

<app-header-video *ngIf="settings.header == 'video'" 
                [backgroundVideo]="'http://themeseason.com/data/videos/video-1.mp4'" 
                [contentOffsetToTop]="true"
                [title]="'Find your house key'"
                [desc]="'Leading Real Estate Company'"
                [isHomePage]="true"
                [fullscreen]="true">
</app-header-video>

<div class="px-3">
    <div class="theme-container">
                
        <mat-card class="main-content-header">

            <app-properties-search 
                [variant]="settings.searchPanelVariant"
                [searchOnBtnClick]="settings.searchOnBtnClick"
                [removedSearchField]="removedSearchField" 
                (onSearchChange)="searchChanged($event)"
                (onSearchClick)="searchClicked() ">
            </app-properties-search>
            
        </mat-card>  
    
    </div>
    
    <div class="theme-container"> 

        <div fxLayout="row wrap" class="properties-wrapper" style="width: 100%;">
            
            <div fxFlex="100" fxLayoutAlign="start start" class="p-2"> 
               
                <!-- <mat-chip-list [ngClass]="(settings.rtl) ? 'ml-2' : 'mr-2'">
                    <mat-chip selected disableRipple="true" color="warn" class="uppercase ws-nowrap">
                       {{ pagination?.total }} {{'found' | translate}}
                    </mat-chip> 
                </mat-chip-list> -->
            
                <app-properties-search-results-filters 
                    [searchFields]="searchFields" 
                    (onRemoveSearchField)="removeSearchField($event)">
                </app-properties-search-results-filters>                 
            </div>
            <div fxFlex="100" class="p-2">                
                <app-properties-toolbar [isHomePage]="true" 
                                        (onChangeCount)="changeCount($event)"
                                        (onChangeSorting)="changeSorting($event)"
                                        (onChangeViewType)="changeViewType($event)"></app-properties-toolbar>
            </div>
            <div *ngIf="properties?.length == null" fxFlex="100" fxLayoutAlign="center center" [style.min-height.px]="200" > 
            <div style="margin: 100px;"><mat-spinner ></mat-spinner></div>
                
             
            </div>

            <div  *ngFor="let property of properties" [fxFlex]="(viewType=='grid') ? viewCol : 100" class="item">   
                                  
                <app-property-item   [property]="property" [viewType]="viewType" [viewColChanged]="viewCol"></app-property-item>
            </div>

            
            <div *ngIf="properties?.length && result!=0 " fxFlex="100" fxLayoutAlign="center center" class="p-2 mt-2">                
             
                <div id="load-more">
                    <div *ngIf="!settings.loadMore.complete">
                        <div style="margin: 30px;"><button *ngIf="!settings.loadMore.start && getproperty.length > 25" mat-raised-button color="primary" (click)="startLoad()" class="uppercase">{{'Load More'| translate}}</button></div>
                        <div style="margin: 100px;">   <mat-spinner *ngIf="settings.loadMore.start "></mat-spinner> </div>
                    </div>
                    <mat-chip-list *ngIf="settings.loadMore.complete">
                        <!-- <mat-chip selected disableRipple="true" color="warn" class="uppercase ws-nowrap">
                            {{settings.loadMore.result}} {{'results' | translate}}
                        </mat-chip>  -->
                    </mat-chip-list>
                  </div>
            </div>

            <div *ngIf="properties?.length == 0 " fxFlex="100" fxLayoutAlign="center center" [style.min-height.px]="200">                
                <div style="margin: 100px;"> <mat-spinner *ngIf="!message"></mat-spinner></div>
                <mat-chip-list *ngIf="message">
                    <mat-chip selected disableRipple="true" color="warn" class="uppercase ws-nowrap">
                        {{message}}
                    </mat-chip> 
                </mat-chip-list> 
            </div>

        </div>

        
    </div>
</div>



<app-mission></app-mission>

<app-our-services></app-our-services>
<!--
<app-testimonials></app-testimonials> 

<app-hot-offer-today [propertyId]="4"></app-hot-offer-today> 
<app-our-agents></app-our-agents>
<app-featured-properties [properties]="featuredProperties"></app-featured-properties>
<app-clients></app-clients>
-->

<app-get-in-touch></app-get-in-touch>